* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
    /* list-style: none; */
    scroll-behavior: smooth;
}
:root {
--text-color:#fff;
--bg-color:#1b1f24;
--second-bg-color:#22282f;
--main-color:#8a51c6;
--other-color:#c3cad5;

--h1-font:4.5rem;
--h2-font:2.9rem;
--p-font:1rem;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--text-color);
    background: var(--bg-color);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    background: transparent;
    transition: padding 0.10s ease;
    /* Hint to the browser that background-color will change */
    will-change: background-color;
}

.logo {
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
    margin: 0px;
}
.header-name {
    display: none; /* Initially hidden */
    font-size: 20px;
    color: var(--text-color);
    border-left: 2px solid var(--main-color);
    padding: 0px 0px 0px 10px;
}
span {
    color: var(--main-color);
}
.navlist {
    display: flex;
    flex: 0 0 40%;
    list-style: none; 
}
.navlist .nav-link:hover {
    color: var(--main-color);
    
}
.navlist .nav-link {
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    margin-left: 20px;
    transition: all .30s ease;
}

.navlist .nav-link.active {
    color: var(--main-color);
    
    font-weight: bold;
}
#menu-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.h-btn {
    display: inline-block;
    padding: 11px 26px;
    background:transparent ;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.h-btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}
section {
    padding: 110px 16% 90px;
}

.hero {
    height: 100%;
    width: 100%;
    background: url(./img/background.png);
    background-size: cover;
    display: flex;
    align-items: center;
}
.main-content h5 {
    transition: all .50s ease;
    font-size: 1.6rem;
}
.main-content h4 {
    font-size: var(--h1-font);
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
}
.main-content p {
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;

}
.main-content{
    height:100%;
}
.profile {
    display: flex; /* Arrange text and image side by side */
    align-items: center; /* Aligns items in the center */   
}

.text {
    width: 90%; 
}

.image-container {
    width: 10%;
    width: min(30vw, 200px); /* Adjusts based on screen size */
    height: min(30vw, 200px);
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    overflow: hidden; /* Ensures the image fits within the circle */
    background: transparent; /* White circle */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    /* padding: 0px;
    margin: 0px; */
    box-shadow: 0 0 20px var(--main-color);
    border: 7px solid var(--main-color);
    transition: all .50s ease;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
}

.social {
    margin-bottom: 40px;
}

.social i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--main-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
    box-shadow: 0 0 5px var(--main-color);
}

.social i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}

.btn {
    display: inline-block;
    width: auto; 
    padding: 11px 26px;
    background:var(--main-color) ;
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

.btn2 {
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}

.btn2:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba(0,0,0,.2);
    padding: 16px 16%;
}

.about {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: 2fr 4fr;
    height: 100%;
    padding-top: 0%;
}

.about-img {
    display: flex;
    position: relative;
}

.about-img-2{
    margin-top:100px;
    margin-left: -70px;
}


.about-img-1,
.about-img-2 {
    width: 45%;
    height: 300px;
    padding: auto;
    max-width: 250px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px var(--main-color);
    
    position: relative;
}

.about-img-1 img,
.about-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 12px;
}
.about-text p{
    text-align: center;
}
.about-text ul {
    list-style: disc !important;
    margin-left: 20px;
    text-align: left;
    list-style-position: outside !important;
}

.about-text ul li {
    display: list-item; 
    color: var(--other-color);
    font-size: var(--font-size);
    line-height: 1.5;
    margin-left: 0%;
}

body .about-text ul {
    list-style-type: disc !important;
}


.container {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* h2 {
    color: #333;
} */
.category {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}
.techskills {
    height: 100%;
}
.skills {
    background: var(--second-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.skill {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
}
.skill i {
    font-size: 20px;
    color: var(--main-color);
}

.about-text p{
    font-size: var(--p-font);
    font-weight: 400;
    width: auto;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    text-align: justify;
    display: flex;
    justify-content: center;
    position: relative;
}
.center-text {
    text-align: center;
}
.center-text h2 {
    font-size: var(--h2-font);
}

.projects {
    background: var(--second-bg-color);
    height: 100%;    
    overflow: visible;
    margin: 20px;
}
.Projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
    align-items: stretch;
}
.row img {
    width: 100%;
    height: 200px;
    border-radius: 28px;
    margin-bottom: 1.4rem;
    object-fit: cover;
}
.row {
    background: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all .50s ease;
    height: 100%;
}
.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.row h5 {
    font-size: 14;
    font-weight: 300;
    min-height: 60px;
    color: var(--other-color);
    line-height: 1.5em;
    text-align: justify;
}
.row h5 b{
    color: var(--main-color);
}
.row i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    color: var(--text-color);
    background: #8a51c6;
    position: relative;
}
.row h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom:10px;
    line-height: 1.4;
}
.row:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: default;
}
.row:hover .ri-github-fill {
    border: 2px solid var(--main-color);
    /* border-radius: 8px; */
    cursor: pointer;
    background: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
}

/* Wrap each expandable section */
.expand-container {
    position: relative; /* This makes the absolute positioning of its children relative to this container */
    z-index: 1000;
    width: inherit;
    min-width: 200px; /* Ensures it has some width */
    /*left: 50%;  Adjust positioning */
    /*transform: translateX(-50%);  Center it */
    /* white-space: nowrap;  */
    align-items: flex;
    padding: 0%;
}
  
  /* Initially hide the expandable content */
.expandable-content {
    position: absolute;
    top: 100%;  /* Place it just below the trigger icon */
    left: 0;
    width: calc(100% + 40px);
    margin-left: -20px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: #2d343f;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    box-shadow:   /* Right shadow */
     0  5px 5px var(--main-color);  /* Bottom shadow */
    padding: 20px;
    z-index: 10;
    visibility: visible;
}
.row:hover .expandable-container {
    opacity: 1;
    visibility: visible;
}
  
/* When the 'show' class is added, reveal the content */
.expandable-content.show {
    display: block;
    opacity: 1;
}
.parent-div {
    overflow: visible;
}
  
/* Expand button styling */
.expand-btn {
    cursor: pointer;
    background: transparent !important;
    font-size: 24px;
    transition: transform 0.3s ease;
}
  
/* Rotate icon when active */
.expand-btn.active {
    transform: rotate(180deg);
}

.Projects-content .btn {
    margin: 30px auto; /* Center horizontally */
    display: block;    /* Centering requires block display */
    width: fit-content; /* Fit button to content size */
    height: fit-content;
  }

.certificates{
    margin: 0;
    height: 100%;
}


.certificates-content {
    align-items: right;
    padding-left: 50px;
    gap: 2.3rem;
    margin: 4.2rem;
    display: flex;
    flex-direction: column;
}
.certificates-content ul li {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color); /* Adjust according to your theme */
    background: #2d343f; /* Subtle background */
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(138, 81, 198, 0.3); /* Light glow effect */
    transition: all 0.3s ease-in-out;
}

.certificates-content ul li a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Uses the default text color */
}

.certificates-content ul li:nth-child(odd) {
    background: var(--bg-color); /* Blue */
}

.certificates-content ul li:nth-child(even) {
    background: var(--second-bg-color); /* Purple */
}

/* Hover effect */
.certificates-content ul li:hover {
    color: var(--main-color);
    transform: translateY(-3px);
    box-shadow: 0 0 10px var(--main-color);
}

.volunteer{
    background: var(--second-bg-color);
    margin: 0;
    height: 100%;
    overflow: visible;
}

.volunteers-content {
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
    margin: 4.2rem;
    display: flex;
    flex-direction: column;
}
.volunteers-content ul li {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color); /* Adjust according to your theme */
    background: #2d343f; /* Subtle background */
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(138, 81, 198, 0.3); /* Light glow effect */
    transition: all 0.3s ease-in-out;
}

.volunteers-content ul li:nth-child(odd) {
    background: var(--bg-color); /* Blue */
}

.volunteers-content ul li:nth-child(even) {
    background: var(--second-bg-color); /* Purple */
}

/* Hover effect */
.volunteers-content ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px var(--main-color);
}


 /* servises
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.box {
    padding: 80px 40px 66px;
    background: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow:  0 0 5px var(--main-color);
    transition: all .50s ease;
    cursor: pointer;
}
.box img {
    margin-bottom: 20px;
}
.box h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.box p {
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 20px;
}
.box a {
    display: inline-block;
    font-size: 22px;
    line-height: 1.273em;
    font-weight: 700;
    padding: 7px 0;
    color: var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition:  all .50s ease;
}
.box i {
    vertical-align: middle;
    font-size: 25px;
    color: var(--main-color);
    margin-left: 5px;
}
.box a:hover {
    border-bottom: 2px solid var(--main-color);
}
.box:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
} */


.contact{
    height: 100%;
    overflow: visible;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}
.contact-form form {
    position: relative;
    width: 600px;
}
form input,
form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--main-color);
    background: #2d343f;
    color: var(--text-color);
    margin-bottom: 20px;
    border-radius: 8px;
}
form input::placeholder,
form textarea::placeholder{
    color: var(--other-color);
    font-size: 15px;
}
form .send-btn {
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 30%;
}
form .send-btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
}


.footer {
    padding: 22px 16%;
    background:var(--second-bg-color) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.copyright p{
font-size: 15px;
font-weight: 400;
color: var(--other-color);
}
.scroll-top i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #8a51c6;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 27px;
}

/* Responsive adjustments */
@media(max-width:1700px) {
    header {
        padding: 20px 8%;
    }
    header.sticky {
        padding: 14px 8%;
    }
    section{
        padding: 90px 8% 80px;
    }
    .footer {
        padding: 18px 8%;
    }
    .logo {
        font-size: 28px;
    }
    
    .about-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        object-fit: cover;
    }
}

@media(max-width:1380px) {
    header {
        padding: 20px 5%;
    }
    header.sticky {
        padding: 14px 5%;
    }
    section{
        padding: 90px 5% 80px;
    }
    .footer {
        padding: 18px 5%;
    }
    .hero {
        background-position: center;
    }
    
    .about-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        object-fit: cover;
    }
    .image-container {
        max-width: 250px;
        max-height: 250px;
    }
    .main-content p {
        width: 80%;
        font-size: 15px;
    }
}
@media (max-width:1290px){
    .box {
        padding: 40px 40px 46px;
    }
    
    .about-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        object-fit: cover;
    }
    .box img {
        width: 100%;
        max-width: 60px;
    }
    .image-container {
        margin-top: 50px;
    }
    .box h3 {
        font-size: 21px;
    }
    .main-content p {
        font-size: 18px;
    }
}

@media (max-width:1240px){
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .about-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        object-fit: cover;
    }
    :root {
        --h1-font:4rem;
        --h2-font:2.2rem;
        --p-font:15px;
    }
    .main-content p {
        width: 80%;
        font-size: 25px;
    }
    .about-text p{
        width: 100%;
    }

}

@media (max-width:950px){
    :root  {
        --h1-font:3.5rem;
    }
    .social {
        margin-bottom: 20px;
        
    }
    #menu-icon{
        display: block;
    }
    .main-content p {
        width: 100%;
        font-size: 25px;
    }
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navlist a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navlist.active {
        right: 0;
    }
    .main-content h4 {
        font-size: var(--h1-font);
    }
    
    .about-text p{
        width: 100%;
    }
    .about{
        align-items: flex;
    }
}
@media (max-width:680px) {
    .main-content p {
        width: 100%;
        font-size: 20px;
    }
    
    .text {
        width: 80%; 
    }
}

@media (max-width:470px) {
    :root {
        --h1-font:3rem;
        --h2-font:2rem;
    }
    
    .text {
        width: 80%; 
    }
    .main-content h4 {
        font-size: var(--h2-font);
        font-weight: 900;
        margin: 20px 0px 20px;
        line-height: 1.2;
    }
}